<header class="header">
    <div class="container d-flex">
        <div class="row align-items-center">
            <div class="col-4 col-lg-2" routerLink="">
                <div class="about-me">
                    <img src="assets/images/about-me.jpg">
                </div>
            </div>
            <div class="col-10 collapse">
                <div class="row align-items-center">
                    <div class="col">
                        <a class="title" routerLink="my-city" [class.active]="isActive('my-city')">
                            Şehrim
                        </a>
                    </div>
                    <div class="col">
                        <a class="title" routerLink="our-team" [class.active]="isActive('our-team')">
                            Takımımız
                        </a>
                    </div>
                    <div class="col">
                        <a class="title" routerLink="my-interests" [class.active]="isActive('my-interests')">
                            İlgi Alanlarım 
                        </a>
                    </div>
                    <div class="col">
                        <a class="title" routerLink="contact" [class.active]="isActive('contact')">
                            İletişim
                        </a>
                    </div>
                    <div class="col text-end" routerLink="login">
                        <button class="btn btn-secondary w-50"> Giriş</button>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="d-flex justify-content-end"  >
                    <div [ngClass]="{'change' : openBar}" class="bar" (click)="openBar = !openBar"
                     data-bs-toggle="offcanvas" data-bs-target="#sideBarCanvas" aria-controls="sideBarCanvas" >
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<app-side-bar (closeEvent)="openBar = !openBar"></app-side-bar>