<header class="header">
    <div class="container d-flex">
        <div class="row align-items-center w-100">
            <div class="col about-me">
                <span>
                    About Me
                </span>
            </div>
            <div class="col text-center">
                <span class="title">
                    My City
                </span>
            </div>
            <div class="col">
                <span class="title">
                    Our Legacy
                </span>
            </div>
            <div class="col">
                <span class="title">
                    My interests
                </span>
            </div>
            <div class="col">
                <span class="title">
                    Contact
                </span>
            </div>
            <div class="col d-flex justify-content-end">
                <span>
                    Login
                </span>
            </div>
        </div>
    </div>
</header>