<div class="row justify-content-center w-100">
    <div class="main-card login col-11 col-xs-11 col-sm-11 col-md-6 col-lg-4 col-xl-4">
        <form [formGroup]="loginForm">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <div>
                    <input [ngClass]="{ 'is-invalid': email?.invalid   && (email?.dirty || email?.touched)}" formControlName="email"
                        type="text" class="form-control" id="email" placeholder="Email">
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="w-100 position-relative">
                    <input #password1 [ngClass]="{ 'is-invalid': password?.invalid   && (password?.dirty || password?.touched)}" formControlName="password"
                        type="password" class="form-control" id="password" placeholder="Password">
                    <div class="password-button" (click)="password1.type=='text'?password1.type='password':password1.type='text'">
                        {{password1.type=='text'?'Hide':'Show'}}
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center">
            <button class="btn btn-primary w-100" [disabled]="loginForm.invalid" (click)="login()">Login</button>
        </div>
        <div class="text-end mt-3">
            Don't have an account?  <span class="router-text" routerLink="/sign-up">Create account</span>
        </div>
    </div>
</div>