<div class="offcanvas offcanvas-start" tabindex="-1" id="sideBarCanvas" aria-labelledby="sideBarCanvasLabel" #sideBarCanvas>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sideBarCanvasLabel">About Me</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" #closeSideBarCanvas></button>
    </div>
    <div class="offcanvas-body d-flex flex-column">
        <div class="sidebar-link">
            <div class="fw-bold" (click)="closeOffCanvas()" routerLink="my-city">Şehrim</div>
            <div class="fw-bold" (click)="closeOffCanvas()" routerLink="our-team">Takımımız</div>
            <div class="fw-bold" (click)="closeOffCanvas()" routerLink="my-interests">İlgi Alanlarım </div>
            <div class="fw-bold" (click)="closeOffCanvas()" routerLink="contact">İletişim</div>  
        </div>
        <div class="mt-auto text-end">
            <button class="btn btn-secondary" (click)="closeOffCanvas()" *ngIf="isLoggedIn()" routerLink="login">Giriş</button>
            <button class="btn btn-danger" (click)="closeOffCanvas();logout()" *ngIf="!isLoggedIn()">Çıkış</button>
        </div>
    </div>
</div>