<div class="container">
    <div class="row text-white">
        <div class="col-6" >
            <p  style="background-color: blue;">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque culpa tempore sed error perferendis inventore ipsum, omnis assumenda cumque enim dicta excepturi voluptate ab repellendus, nesciunt voluptates beatae, aut possimus!
            </p>
        </div>
        <div class="col-6">
            <p style="background-color: red;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, consequuntur officiis modi aut harum reiciendis provident reprehenderit cupiditate soluta. Earum totam repellat, dignissimos impedit adipisci nisi dolore error laudantium incidunt.
            </p>
        </div>
    </div>
</div>