/* You can add global styles to this file, and also import other style files */
@import 'bootstrap' ;
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: var(--bs-gray-300);
}

.main-card{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 8px var(--bs-gray-500);
}